<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="widht=device-widht, initial-scale=1.0">
        <title> E-Commerce PC</title>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/lux.css">
    </head>
    </html>
    <body>
        {{{body}}}
    </body>
</html>